* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* resolvido */

header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

button {
    width: 100px;
    height: 40px;
    cursor: pointer;
}

button {
    width: 100px;
    height: 40px;
    /* font-size: 1rem;
    font-weight: 700; */
    cursor: pointer;
    background: transparent;
    color: black;
    border: 2.5px solid currentColor;
    border-radius: 5px;
    transition: 0.25s;
}   

/* button:hover, button:focus {
    outline: none;
    background: black;
    color: #e1e1e6;
} */

img {
    cursor: pointer;
}

footer {
    height: 75px;
    justify-content: center;
    align-items: flex-start;
    font-style: italic;
}

button #piscar {
    /* background-color: white;
    color: black; */
    border: 2.5px;
    border-color: black;
}

.verde {
    background-color: green;
    color: white;
}

.vermelho {
    background-color: red;
    color: white;
}